<!-- Custom fonts for this template -->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<div class="container">
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            Add New Banner
        </a>

    </p>
    <div class="collapse" id="collapseExample2">
        <div class="card card-body">
            <h3>Add New Banner</h1>
                <form class="row g-3" action="/admin/add-banner" method="post" enctype="multipart/form-data">

                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Choose File</label>
                        <input class="form-control" id="fileInput" type="file" name="image" />
                        <br>
                        <textarea name="description" id="" cols="30" rows="4" placeholder="About The Banner"></textarea>
                    <br><br>
                    </div>
                    <br>
                    <select name="products" class="form-select" aria-label="Default select example">
                        <option value="" selected>Select A Product</option>
                    {{#each Products}}
                        <option value="{{this._id}}">{{this.product}}</option>
                    {{/each}}
                    </select>
                    <br>
                    <div class="col-12">
                        <br>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Created On</th>
                <th scope="col">Image</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each banners}}
            <tr>

                <td>{{this.created_on}}</td>
                <td><img src="{{this.image}}" alt="" style="width=50px;height:50px"></td>
                <td>
                    <button type="button" class="btn btn-primary " data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"><i class="fa-solid fa-trash-can"></i>
                        Delete
                    </button>

                    {{!-- <button class="banner"><i class="fa-solid fa-trash-can"></i></button> --}}
                </td>
                <div class="modal fade " id="staticBackdrop{{@index}}" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Delete Banner</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you want to delete Banner?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary"><a class="text-white text-decoration-none"
                                        href="/admin/delete-banner/{{_id}}">
                                        Delete</a></button>
                            </div>
                        </div>
                    </div>
                </div>



            </tr>
            {{/each}}

        </tbody>
    </table>
</div>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
