<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a href="/home"><img style="width: 180px;height:30px ;" src="/images/logo/main-logo.png"
                                        alt=""></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->

                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--black menu-hover-color--golden">
                            <nav>
                                <ul>
                                    <li class="has-dropdown">
                                        <a class="active main-menu-link" href="/home">Home </a> {{!<i
                                            class="fa fa-angle-down"></i>}}
                                        <!-- Sub Menu -->
                                        {{!-- <ul class="sub-menu">
                                            <li><a href="/home">Home 1</a></li>
                                            <li><a href="index-2.html">Home 2</a></li>
                                            <li><a href="index-3.html">Home 3</a></li>
                                            <li><a href="index-4.html">Home 4</a></li>
                                        </ul> --}}
                                    </li>

                                    <li class="has-dropdown">
                                        <a href="#">CATEGORIES <i class="fa fa-angle-down"></i></a>
                                        <!-- Sub Menu -->
                                        <ul class="sub-menu">
                                            <li><a href="/shop?catId=Men">Mens</a></li>
                                            <li><a href="/shop?catId=Women">Womens</a></li>
                                            <li><a href="/shop?catId=Kids">Kids</a></li>
                                        </ul>
                                    </li>
                                    {{!-- Products Menu --}}
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>
                                    {{!-- Brands Menu --}}
                                    <li>
                                        <a href="">Brands</a>
                                        <!-- Sub Menu -->
                                        <ul class="sub-menu">
                                            {{#each localBrands}}
                                            <li><a href='/shop?brandId={{this._id}}'>{{this.BrandName}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </li>

                                    {{!-- <li>
                                        <a href="/about-us">About<i class="fa fa-angle-down"></i></a>
                                        <!-- Sub Menu -->
                                        <ul class="sub-menu">
                                            <li><a href="/about">About Us</a></li>
                                            <li><a href="/contact">Contact Us</a></li>
                                    </li> --}}
                                    {{#if User}}
                                    <li class="has-dropdown">
                                        <a href="#"><i class="fa fa-user"></i>Hi, {{User.name}}<i
                                                class="fa fa-angle-down"></i></a>
                                        <!-- Sub Menu -->
                                        <ul class="sub-menu">
                                            <li><a href="/profile">Orders</a></li>
                                            <li><a href="/address">Address</a></li>
                                            <li><a href="/wallet">Wallet</a></li>
                                            <li><a href="/details">Account</a></li>
                                            <li><a href="/logout">Logout</a></li>
                                        </ul>
                                    </li>
                                    {{else}}
                                    <li class="has-dropdown">
                                        <a href="">Sign In <i class="fa fa-angle-down"></i></a>
                                        <!-- Sub Menu -->
                                        <ul class="sub-menu">
                                            <li><a href="/login">Log In</a></li>
                                            <li><a href="/">Sign Up</a></li>
                                        </ul>
                                    </li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->

                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--black action-hover-color--golden">
                            <li>
                                <a href="/wishlist">
                                    <i class="icon-heart"></i>
                                    {{#if User}}
                                    <span id="wishlist" class="item-count"></span>
                                    {{else}}
                                    <span class="item-count">0</span>
                                    {{/if}}
                                </a>
                            </li>
                            <li>
                                <a href="/cart">
                                    <i class="icon-bag"></i>
                                    {{#if User}}
                                    <span id="cart" class="item-count"></span>
                                    {{else}}
                                    <span class="item-count">0</span>
                                    {{/if}}
                                </a>
                            </li>
                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            {{!-- <li>
                                <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
                                    <i class="icon-menu"></i>
                                </a>
                            </li> --}}
                        </ul>
                        <!-- End Header Action Link -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Start Header Area -->

<!-- Start Mobile Header -->
<div class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <!-- Start Mobile Left Side -->
                <div class="mobile-header-left">
                    <ul class="mobile-menu-logo">
                        <li>
                            <a href="/home">
                                <div class="logo">
                                    <img src="/images/logo/main-logo.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Left Side -->

                <!-- Start Mobile Right Side -->
                <div class="mobile-right-side">
                    <ul class="header-action-link action-color--black action-hover-color--golden">
                        <li>
                            <a href="#search">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/wishlist"> {{!-- class="offcanvas-toggle" --}}
                                <i class="icon-heart"></i>
                                <span id="wishlist2" class="item-count"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/cart"> {{!-- class="offcanvas-toggle" --}}
                                <i class="icon-bag"></i>
                                <span id="cart2" class="item-count"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                <i class="icon-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Right Side -->
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Header -->

<!--  Start Offcanvas Mobile Menu Section -->
<div id="mobile-menu-offcanvas" class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <div class="offcanvas-mobile-menu-wrapper">
        <!-- Start Mobile Menu  -->
        <div class="mobile-menu-bottom">
            <!-- Start Mobile Menu Nav -->
            <div class="offcanvas-menu">
                <ul>
                    <li>
                        <a href="/home"><span>Home</span></a>
                    </li>
                    <li>
                        <a href="/shop"><span>Shop</span></a>

                    </li>


                    <li>
                        <a href="#"><span>CATEGORIES</span></a>
                        <!-- Sub Menu -->
                        <ul class="mobile-sub-menu">
                            <li><a href="/shop?catId=Men?">Mens</a></li>
                            <li><a href="/shop?catId=Women">Womens</a></li>
                            <li><a href="/shop?catId=Kids">Kids</a></li>
                        </ul>
                    </li>
                    {{!-- <li> --}}
                    <li>
                        <a href="#">Brands</a>
                        <!-- Sub Menu -->
                        <ul class="mobile-sub-menu">
                            {{#each localBrands}}
                            <li><a href='/shop?brandId={{this._id}}'>{{this.BrandName}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    {{#if User}}
                    <li>
                        <a href="#"><i class="fa fa-user"></i>Hi, {{User.name}}</a>
                        <!-- Sub Menu -->
                        <ul class="mobile-sub-menu">
                            <li><a href="/profile">Orders</a></li>
                            <li><a href="/address">Address</a></li>
                            <li><a href="/wallet">Wallet</a></li>
                            <li><a href="/details">Account</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    {{else}}
                    <li>
                        <a href="">Sign In</a>
                        <!-- Sub Menu -->
                        <ul class="mobile-sub-menu">
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/">Sign Up</a></li>
                        </ul>
                    </li>
                    {{/if}}
                </ul>
            </div> <!-- End Mobile Menu Nav -->
        </div> <!-- End Mobile Menu -->

        <!-- Start Mobile contact Info -->
        <div class="mobile-contact-info">
            <div class="logo">
                <a href="/home"><img src="/images/logo/main-logo.png" alt=""></a>
            </div>

            <address class="address">
                <span>Address: Your address goes here.</span>
                <span>Call Us: 0123456789, 0123456789</span>
                <span>Email: demo@example.com</span>
            </address>

            <ul class="social-link">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <ul class="user-link">
                <li><a href="/wishlist">Wishlist</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
            </ul>
        </div>
        <!-- End Mobile contact Info -->

    </div> <!-- End Offcanvas Mobile Menu Wrapper -->
</div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

<!-- Start Offcanvas Mobile Menu Section -->
<div id="offcanvas-about" class="offcanvas offcanvas-rightside offcanvas-mobile-about-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <!-- Start Mobile contact Info -->
    <div class="mobile-contact-info">
        <div class="logo">
            <a href="/home"><img src="/images/logo/main-logo.png" alt=""></a>
        </div>

        {{!-- <address class="address">
            <span>Address: Your address goes here.</span>
            <span>Call Us: 0123456789, 0123456789</span>
            <span>Email: demo@example.com</span>
        </address>

        <ul class="social-link">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul> --}}
        {{#if User}}
        <ul class="user-link">
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/checkout">Checkout</a></li>
        </ul>
        {{else}}
        {{/if}}
    </div>
    <!-- End Mobile contact Info -->
</div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

<!-- Start Offcanvas Search Bar Section -->
<div id="search" class="search-modal">
    <button type="button" class="close">×</button>
    <form action="/search" , method="get">
        <input id="search-product" type="search" name="search" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-lg btn-golden">Search</button>
    </form>
</div>
<!-- End Offcanvas Search Bar Section -->

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>

<script>
    (async function Count() {
        const response = await axios({
            method: 'get',
            url: '/count',
        })
        if (response.data.status == 'success') {
            const cart = response.data.cart;
            const wishlist = response.data.wishlist;
            document.getElementById('cart').innerHTML = cart;
            document.getElementById('cart2').innerHTML = cart;
            document.getElementById('wishlist').innerHTML = wishlist;
            document.getElementById('wishlist2').innerHTML = wishlist;
        }

    })()


</script>